@font-face {
  font-family: "Mosk";
  src: local("Mosk"),
    url(../../fonts/Mosk_Typeface/Mosk\ Bold\ 700.ttf) format("truetype");
}

@font-face {
  font-family: "Jenthill";
  src: local("Jenthill"),
    url(../../fonts/katsia-jazwinska_jenthill/jenthill.woff) format("woff");
}

.mosk-font {
  font-family: Mosk, sans-serif;
}
