.hero {
  padding: 0;
}
.hero-container {
  width: 85%;
  margin: 0 auto;
  word-wrap: break-word;
}

.Hero__eyebrow {
  transform: rotate(-5deg);
  transform-origin: bottom left;
}

.h5 {
  font-size: 22px;
}

.font-cursive {
  font-family: Jenthill, sans-serif;
}

.Hero__heading {
  position: relative;
  z-index: 1;
  letter-spacing: 0.6px;
}

.outline {
  color: var(--color-dark);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-dark);
}

.h1 {
  font-size: 55px;
  line-height: 1.2;
}

.wrapper {
  margin-top: -18vh;
  padding: 0 0 0 10%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .wrapper {
    margin-top: -13vh !important;
    padding: 0 0 0 9%;
  }

  .col-sm-6 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .h1 {
    font-size: 40px;
  }
  .hero-container {
    width: 95%;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .wrapper {
    margin-top: -12vh;
  }
}
