.Posts-intro {
  background-color: #ae8fdb;
  min-height: 100vh;
}

.pad-around-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}
.h1 {
  font-size: 64px;
}

.hr-line {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0);
  &:before {
    position: absolute;
    content: "";
    width: 4rem;
    left: 1rem;
    height: 1.5rem;
    top: 0.5rem;
    background-repeat: no-repeat;
    background-image: url(https://altafshaikh.github.io/static-file-storage/Portfolio/Icons/browser-dots.svg);
  }
}

.blog-btn {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.25rem;
  font-family: Mosk, sans-serif;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.card-browser {
  border: 2px solid black;
  border-radius: 10px;
}
