.Posts-intro {
  background-color: #ae8fdb;
  min-height: 100vh;
}

.pad-around-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}

.blog-btn {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.25rem;
  font-family: Mosk, sans-serif;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.card-browser{
  border: 2px solid black;
  border-radius: 10px;
}