.nav-links {
  color: rgb(0, 0, 0) !important;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}
.name {
  // font-family: Jenthill, sans-serif;
}
.surname {
  // font-family: Jenthill, sans-serif;
  color: #eb9288d5;
}

// .try-btn {
//   background-color: #eb5646;
//   border: 3px solid transparent;

//   letter-spacing: 1.1px;
//   &:hover {
//     background-color: transparent;
//     border: 3px solid #eb5646;
//   }
// }
