.nav-links {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}
.name {
  // font-family: Jenthill, sans-serif;
}
.surname {
  // font-family: Jenthill, sans-serif;
  color: #eb9288d5;
}
