.talks-intro {
  background-color: rgb(253, 242, 180);
  min-height: 100vh;
}

.talks-intro-dark {
  background-color: rgb(17%, 16%, 20%);
  min-height: 100vh;
}

.pad-around-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}
.h1 {
  font-size: 65px;
  font-family: Mosk, sans-serif;
}
.h5 {
  font-size: 24px;
  z-index: 99;
}

.Speaking__text {
  padding-right: 3rem;
  max-width: 60ch;
  font-size: 18px;
  font-family: sans-serif;
}

.talk-link {
  text-decoration: underline;
  &:hover {
    color: #44c1c1;
  }
}

.Speaking__image {
  margin: 3.5rem auto 0;
  position: relative;
  display: block;
  border: solid 2px hsl(0, 0%, 25%);
  -webkit-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 25%);
  -moz-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 25%);
  box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 25%);
  width: 95%;
  height: 270px;
  max-width: 440px;
  transform: translateX(-0.8rem);
  transform: translateY(-2rem);
  filter: saturate(0.7);
}

.Speaking__image__dark {
  margin: 3.5rem auto 0;
  position: relative;
  display: block;
  border: solid 2px hsl(0, 0%, 97%);
  -webkit-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 98%);
  -moz-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 98%);
  box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 98%);
  width: 95%;
  height: 270px;
  max-width: 440px;
  transform: translateX(-0.8rem);
  transform: translateY(-2rem);
  filter: saturate(0.7);
}

.Speaking__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.Speaking__image__dark img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.Speaking__image figcaption {
  position: absolute;
  top: -1.2rem;
  left: 1.8rem;
  padding: 0.5rem 1.25rem;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 98%);
  border: solid 2px hsl(0, 0%, 18%);
  font-family: Mosk, sans-serif;
  -webkit-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 25%);
  -moz-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 25%);
  box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 25%);
}

.Speaking__image__dark figcaption {
  position: absolute;
  top: -1.2rem;
  left: 1.8rem;
  padding: 0.5rem 1.25rem;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 25%);
  border: solid 2px hsl(0, 0%, 97%);
  font-family: Mosk, sans-serif;
  -webkit-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 98%);
  -moz-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 98%);
  box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 98%);
}
.small {
  font-size: 20px;
  line-height: 1;
}

.Card__type {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  transform: rotate(-5deg);
  transform-origin: bottom left;
  padding-left: 0.2rem;
}

.h6 {
  font-size: 26px;
  letter-spacing: 0.02em;
  line-height: 1.8;
}

.h2 {
  font-family: Mosk, sans-serif;
  letter-spacing: 0.04em;
}

.Card__link {
  text-decoration: none !important;
  color: hsl(0, 0%, 25%);
  &:hover {
    color: hsl(0, 0%, 25%);
  }
  p {
    line-height: 2rem;
    font-family: sans-serif;
    font-size: 18px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: hsl(0, 0%, 25%);
    top: 0.75rem;
    right: calc(100% + 2rem);
  }
}

.Card__link__dark {
  text-decoration: none !important;
  color: hsl(0, 0%, 98%);
  &:hover {
    color: hsl(0, 0%, 98%);
  }
  p {
    line-height: 2rem;
    font-family: sans-serif;
    font-size: 18px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: hsl(0, 0%, 98%);
    top: 0.75rem;
    right: calc(100% + 2rem);
  }
}

.sf-flow {
  --flow-space: 1em;
}

.underline__text {
  line-height: 1;
  display: inline;
  background-image: linear-gradient(
    transparent 50%,
    hsl(4, 65%, 85%) 50%,
    hsl(4, 65%, 85%) 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
}

// .underline__text__dark {
//   line-height: 1;
//   display: inline;
//   background-image: linear-gradient(
//     transparent 50%,
//     hsl(316, 30%, 36%) 50%,
//     hsl(316, 30%, 36%) 85%,
//     transparent 85%,
//     transparent 100%
//   );
//   background-repeat: no-repeat;
//   background-size: 0 100%;
// }

.underline:hover .underline__text {
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 100% 100%;
}

// .Card__link__dark:hover .underline__text__dark {
//   transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
//   background-size: 100% 100%;
// }

.h4 {
  font-size: 34px;
  line-height: 1.2;
}

.font-cursive {
  font-family: Jenthill, sans-serif;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .talks-intro {
    padding-left: 12px;
    padding-right: 12px;
  }
  .Speaking__text {
    padding-right: 0rem !important;
  }
  .Card__link:after,
  .Card__link__dark:after {
    content: none;
    position: absolute;
    width: 0%;
    height: 0px;
    background-color: transparent;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
