.talks-intro {
  background-color: rgb(253, 242, 180);
  min-height: 100vh;
}

.talks-intro-dark {
  background-color: rgb(17%, 16%, 20%);
  min-height: 100vh;
}

.pad-around-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}
.h1 {
  font-size: 65px;
}
.h5 {
  font-size: 24px;
  z-index: 99;
}

.Speaking__text {
  padding-right: 3rem;
  max-width: 60ch;
  font-size: 18px;
}

.Speaking__image {
  margin: 3.5rem auto 0;
  position: relative;
  display: block;
  border: solid 2px hsl(0, 0%, 25%);
  -webkit-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 25%);
  -moz-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 25%);
  box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 25%);
  width: 95%;
  height: 270px;
  max-width: 440px;
  transform: translateX(-0.8rem);
  transform: translateY(-2rem);
  filter: saturate(0.7);
}

.Speaking__image__dark {
  margin: 3.5rem auto 0;
  position: relative;
  display: block;
  border: solid 2px hsl(0, 0%, 97%);
  -webkit-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 98%);
  -moz-box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 98%);
  box-shadow: 0.5rem 0.5rem 0 0 hsl(0, 0%, 98%);
  width: 95%;
  height: 270px;
  max-width: 440px;
  transform: translateX(-0.8rem);
  transform: translateY(-2rem);
  filter: saturate(0.7);
}

.Speaking__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.night .Speaking figcaption {
  background-color: var(--color-sherbet);
}

.Speaking__image figcaption {
  position: absolute;
  top: -1.2rem;
  left: 1.8rem;
  padding: 0.5rem 1.25rem;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 98%);
  border: solid 2px hsl(0, 0%, 18%);
  font-family: Mosk, sans-serif;
  -webkit-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 25%);
  -moz-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 25%);
  box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 25%);
}

.Speaking__image__dark figcaption {
  position: absolute;
  top: -1.2rem;
  left: 1.8rem;
  padding: 0.5rem 1.25rem;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 0%);
  border: solid 2px hsl(0, 0%, 97%);
  font-family: Mosk, sans-serif;
  -webkit-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 97%);
  -moz-box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 97%);
  box-shadow: 0.3rem 0.3rem 0 0 hsl(0, 0%, 97%);
}
.small {
  font-size: 20px;
  line-height: 1;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .talks-intro {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
